<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="mainbody">
        <div class="space">

        </div>
    <center><div class="formbody">
        <form action="http://localhost:5000/house" method="POST">
            <div class="inputgrp">            
                <label for="area">Enter the area of house(in sqft) </label><br>
                <input type="text" id="area" name="area">
            </div>
            <div class="inputgrp">
            <label for="bedroom">Select size  : </label>
            <select name="bedroom" id="bedroom">
                <option value="1">1 BHK</option>
                <option value="2">2 BHK</option>
                <option value="3">3 BHK</option>
                <option value="4">4 BHK</option>
                <option value="5">5 BHK</option>
                <option value="6">6 BHK</option>
                <option value="7">7 BHK</option>
                <option value="8">8 BHK</option>
                <option value="9">9 BHK</option>
                <option value="10">10 BHK</option>
            </select>
            </div>
            <div class="inputgrp">
                <label for="bathroom">Select No of Bathrooms  : </label>
                <select name="bathroom" id="bathrooms" id="select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="inputgrp">
                <label for="location">Select the Location  : </label>
                <select name="location" id="location" >
                    <option value="1st block jayanagar">1st block jayanagar</option>
                    <option value="1st phase jp nagar">1st phase jp nagar</option>
                    <option value="2nd Stage Nagarbhavi">2nd Stage Nagarbhavi</option>
                    <option value="5th Phase JP Nagar">5th Phase JP Nagar</option>
                    <option value="6th Phase JP Nagar">6th Phase JP Nagar</option>
                    <option value="7th Phase JP Nagar">7th Phase JP Nagar</option>
                    <option value="8th Phase JP Nagar">8th Phase JP Nagar</option>
                    <option value="aecs layout">aecs layout</option>
                    <option value="abbigere">abbigere</option>
                    <option value="akshaya nagar">akshaya nagar</option>
                    <option value="ambalipura">ambalipura</option>
                    <option value="ambedkar nagar">ambedkar nagar</option>
                    <option value="amruthahalli">amruthahalli</option>
                    <option value="badavala nagar">badavala nagar</option>
                    <option value=" Devarabeesana Halli"> Devarabeesana Halli</option>
                    <option value="Doddathoguru">Doddathoguru</option>
                    <option value="Electronic City">Electronic City</option>
                    <option value="Bommasandra Industrial Area">Bommasandra Industrial Area</option>
                    <option value="Bommasandra">Bommasandra</option>
                    <option value="Chandapura">Chandapura</option>
                    <option value="HSR Layout">HSR Layout</option>
                    <option value="Hulimavu">Hulimavu</option>
                    <option value="Indira Nagar">Indira Nagar</option>
                    <option value="JP Nagar"></option>
                    <option value="Kanakpura Road">Kanakpura Road</option>
                    <option value="Koramangala">Koramangala</option>
                    <option value="Kothanur">Kothanur</option>
                    <option value="Kudlu Gate">Kudlu Gate</option>
                    <option value="Mahadevpura">Mahadevpura</option>
                    <option value="Malleshwaram">Malleshwaram</option>
                    <option value="Margondanahalli">Margondanahalli</option>
                    <option value="Nagarbhavi">Nagarbhavi</option>
                    <option value="Nallurhalli">Nallurhalli</option>
                    <option value="Nehru Nagar">Nehru Nagar</option>
                    <option value="Old Madras Road">Old Madras Road</option>
                    <option value="Padmanabhanagar">Padmanabhanagar</option>
                    <option value="Panathur">Panathur</option>
                    <option value="R.T. Nagar">R.T. Nagar</option>
                    <option value="Raja Rajeshwari Nagar">Raja Rajeshwari Nagar</option>
                    <option value="Rajaji Nagar">Rajaji Nagar</option>
                    <option value="Talaghattapura">Talaghattapura</option>
                    <option value="TC Palaya">TC Palaya</option>
                    <option value="Thanisandra">Thanisandra</option>
                    <option value="Thippasandra">Thippasandra</option>
                    <option value="Thubarahalli">Thubarahalli</option>
                    <option value="Uttarahalli">Uttarahalli</option>
                    <option value="Varthur">Varthur</option>
                    <option value="Vijayanagar">Vijayanagar</option>
                    <option value="Vittasandra">Vittasandra</option>
                    <option value="Whitefield">Whitefield</option>
                    <option value="Yelahanka">Yelahanka</option>
                    <option value="Yelahanka New Town">Yelahanka New Town</option>
                    <option value="Yeshwanthpur">Yeshwanthpur</option>1st phase jp nagar
                </select>
            </div>

            <div class="inputbutton">
                <button type="submit">Calculate Price</button>
            </div>
        </form>
        <div class="result">
            <h2>Estimated Price for your choice is  </h2>
        </div>
    </div>
    
</center>
</div>
</body>
</html>